<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project_4</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2 class="head">{{title}}</h2>
        <div class="header">
            <a href="/">home</a>
            <a href="/data1">data1</a>
            <a href="/data2">data2</a>
            <a href="/data3">data3</a>
            <a href="/data4">data4</a>
        </div></body>
</html>


